*.jl.cov
*.jl.*.cov
*.jl.mem

# IJulia notebook:
.ipynb_checkpoints

# vim temporary files
*~

# Temporary file (tests)
/test/.tmp

# Benchmark files
/benchmark/.tune.jld
/benchmark/.results/*

# Documenter
docs/build/
docs/site/

# Literate
docs/src/cookbook/notebooks/
docs/src/0*.md

# Local Cookbook
docs/seq.fasta

# Manifest
Manifest.toml
JuliaManifest.toml
