language: julia
os:
  - linux
  - osx
julia:
  - 0.5
#  - nightly
#  - release
notifications:
  email: false
addons:
  apt:
    packages:
    - hdf5-tools
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'Pkg.clone(pwd()); Pkg.build("MIToS"); Pkg.test("MIToS"; coverage=true)'
after_success:
  - julia -e 'cd(Pkg.dir("MIToS")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder()); Codecov.submit(Codecov.process_folder())'
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'Pkg.add("Plots"); Pkg.add("PyPlot")' # Plots
  - julia -e 'Pkg.add("DataFrames"); Pkg.add("StatPlots")' # Used in MSA.md
  - julia -e 'cd(Pkg.dir("MIToS")); include(joinpath("docs", "make.jl"))'
